
.cont-2 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-12 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(108,126,196,0.518);
}
.cont-17 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-22 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-31 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-34 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-35 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-40 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-50 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
@media (max-width:959px) {
.cont-2 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-12 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(108,126,196,0.518);
}
.cont-17 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-22 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-31 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-34 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-35 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-40 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-50 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
}

.cont-52 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-61 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(108,126,196,0.518);
}
.cont-67 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-72 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-82 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-85 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-87 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-92 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-102 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
@media (max-width:959px) {
.cont-52 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-61 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(108,126,196,0.518);
}
.cont-67 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-72 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-82 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-85 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-87 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-92 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-102 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
}

.cont-104 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-118 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-119 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
@media (max-width:959px) {
.cont-104 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-118 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-119 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
}

.cont-121 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-131 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-142 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-143 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(42,161,152,0.500);
}
.cont-166 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
@media (max-width:959px) {
.cont-121 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-131 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-142 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-143 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(42,161,152,0.500);
}
.cont-166 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
}

.cont-168 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-177 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-187 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-188 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
@media (max-width:959px) {
.cont-168 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(37,138,210,0.507);
}
.cont-177 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(232,124,176,0.503);
}
.cont-187 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(181,137,0,0.496);
}
.cont-188 {
	behavior: url(js/PIE.htc);
	-pie-background: rgba(60,7,128,0.508);
}
}

